name: infra-apply
on:
  workflow_dispatch:
  push:
    paths: ["terraform/**", "scripts/infra_apply.sh", ".github/workflows/terraform_apply.yaml"]

jobs:
  apply:
    runs-on: ubuntu-latest
    permissions: { contents: read }
    env:
      GOOGLE_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      GOOGLE_REGION: us-central1
      GOOGLE_ZONE: us-central1-a
    steps:
    - uses: actions/checkout@v4

    - id: auth
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - uses: google-github-actions/setup-gcloud@v2

    - uses: hashicorp/setup-terraform@v3

    - name: Apply Terraform & get-credentials
      run: bash scripts/infra_apply.sh
